<h2 class="h2 mt-4">Carrito</h2>
<hr />
<!-- Shopping Cart table -->
<div class="table-responsive">

    <table class="table product-table">

        <thead>
            <tr>
                <th></th>
                <th class="font-weight-bold">
                    <strong>Producto</strong>
                </th>
                <th class="font-weight-bold">
                    <strong>#ID</strong>
                </th>
                <th></th>
                <th class="font-weight-bold">
                    <strong>Precio</strong>
                </th>
                <th class="font-weight-bold">
                    <strong>Cantidad</strong>
                </th>
                <th class="font-weight-bold">
                    <strong>Total</strong>
                </th>
                <th></th>
            </tr>
        </thead>

        <tbody>

            <tr>
                <th scope="row">
                    <img src="../../../../assets/img-products/yogs-sachet-frutilla-entero-900-vitaminas-640x640.png"
                        alt="" class="img-products w-50 ms-4">
                </th>
                <td>
                    <h5>
                        <strong>Yogurt</strong>
                    </h5>
                    <p class="text-muted">SanCor</p>
                </td>
                <td>55</td>
                <td></td>
                <td>$120</td>
                <td class="text-center text-md-left">
                    <span class="qty">2</span>
                </td>
                <td class="font-weight-bold">
                    <strong>$240</strong>
                </td>
                <td>
                    <button type="button" class="btn btn-sm btn-danger" data-toggle="tooltip" data-placement="top"
                        title="Remove item">X
                    </button>
                </td>
            </tr>
            <tr>
                <th scope="row">
                    <img src="../../../../assets/img-products/yogs-sachet-frutilla-entero-900-vitaminas-640x640.png"
                        alt="" class="img-products w-50 ms-4">
                </th>
                <td>
                    <h5 class="mt-3">
                        <strong>Yogurt</strong>
                    </h5>
                    <p class="text-muted">SanCor</p>
                </td>
                <td>55</td>
                <td></td>
                <td>$120</td>
                <td class="text-center text-md-left">
                    <span class="qty">2</span>
                </td>
                <td class="font-weight-bold">
                    <strong>$240</strong>
                </td>
                <td>
                    <button type="button" class="btn btn-sm btn-danger" data-toggle="tooltip" data-placement="top"
                        title="Remove item">X
                    </button>
                </td>
            </tr>
            <tr>
                <th scope="row">
                    <img src="../../../../assets/img-products/yogs-sachet-frutilla-entero-900-vitaminas-640x640.png"
                        alt="" class="img-products w-50 ms-4">
                </th>
                <td>
                    <h5 class="mt-3">
                        <strong>Yogurt</strong>
                    </h5>
                    <p class="text-muted">SanCor</p>
                </td>
                <td>55</td>
                <td></td>
                <td>$120</td>
                <td class="text-center text-md-left">
                    <span class="qty">2</span>
                </td>
                <td class="font-weight-bold">
                    <strong>$240</strong>
                </td>
                <td>
                    <button type="button" class="btn btn-sm btn-danger" data-toggle="tooltip" data-placement="top"
                        title="Remove item">X
                    </button>
                </td>
            </tr>


            <tr>
                <td colspan="3"></td>
                <td>
                    <h4 class="mt-2">
                        <strong>Total</strong>
                    </h4>
                </td>
                <td class="text-right">
                    <h4 class="mt-2">
                        <strong>$720</strong>
                    </h4>
                </td>
                <td colspan="3" class="text-right">
                    <button type="button" class="btn btn-primary btn-rounded">Finalizar compra
                        <i class="fas fa-angle-right right"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>