<body class="text-center">

    <main class="form-signin">
        <form>
            <img class="mb-4" src="../../../assets/man.svg" alt="" width="180" height="180">
            <h1 class="h3 mb-3 fw-normal">¡Hola! Inicia sesión o regístrate</h1>

            <div class="form-floating">
                <input type="email" class="form-control" id="floatingInput" placeholder="nombre@mail.com">
                <label for="floatingInput">Email</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Contraseña">
                <label for="floatingPassword">Contraseña</label>
            </div>

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" value="remember-me"> Recuérdame
                </label>
            </div>
            <button class="w-100 btn btn-primary mb-2" type="submit">Iniciar sesión</button>
            <button class="w-100 btn btn-secondary" type="submit">Crear cuenta</button>
        </form>
    </main>