<!-- <div class="d-flex flex-column flex-shrink-0 p-3 bg-light" style="width: 230px; height: 100vh;">
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="mb-1">
            <a href="#" class="nav-link link-dark collapsed" data-bs-toggle="collapse" data-bs-target="#config-collapse"
                aria-expanded="false">

                <svg class="bi me-2" width="16" height="16">
                    <use xlink:href="#people-circle" />
                </svg>
                Configuración
            </a>
            <div class="collapse" id="config-collapse">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li><a href="#" class="link-dark rounded">Mis datos</a></li>
                    <li><a href="#" class="link-dark rounded">Seguridad</a></li>
                    <li><a href="#" class="link-dark rounded">Privacidad</a></li>
                </ul>
            </div>
        </li>
        <li>
            <a href="#" class="nav-link link-dark">
                <svg class="bi me-2" width="16" height="16">
                    <use xlink:href="#speedometer2" />
                </svg>
                Ventas
            </a>
        </li>

        <li class="mb-1">
            <a href="#" class="nav-link link-dark collapsed" data-bs-toggle="collapse" data-bs-target="#orders-collapse"
                aria-expanded="false">

                <svg class="bi me-2" width="16" height="16">
                    <use xlink:href="#people-circle" />
                </svg>
                Catálogo
            </a>
            <div class="collapse" id="orders-collapse">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li><a href="#" class="link-dark rounded">Productos</a></li>
                    <li><a href="#" class="link-dark rounded">Marcas</a></li>
                    <li><a href="#" class="link-dark rounded">Propiedades</a></li>
                    <li><a href="#" class="link-dark rounded">Promociones</a></li>
                    <li><a href="#" class="link-dark rounded">Actualización</a></li>
                </ul>
            </div>
        </li>

        <li>
            <a href="#" class="nav-link link-dark">
                <svg class="bi me-2" width="16" height="16">
                    <use xlink:href="#speedometer2" />
                </svg>
                Ventas
            </a>
        </li>

        <li>
            <a href="#" class="nav-link link-dark">
                <svg class="bi me-2" width="16" height="16">
                    <use xlink:href="#grid" />
                </svg>
                Usuarios
            </a>
        </li>

        <li>
            <a href="#" class="nav-link link-dark">
                <svg class="bi me-2" width="16" height="16">
                    <use xlink:href="#people-circle" />
                </svg>
                Clientes
            </a>
        </li>

        <li>
            <a href="#" class="nav-link link-dark">
                <svg class="bi me-2" width="16" height="16">
                    <use xlink:href="#people-circle" />
                </svg>
                Reportes
            </a>
        </li>
    </ul>
    <hr>
</div> -->